/* Write your code here: */
h1,h2 {
    color: blueviolet;
}
.box>p{
    color: firebrick;
}
.box .list {
    color: blue;
}
li.done {
    color: green;
}

ul p.done{
    font-size: 0.5rem;
}
.green{
    background-color: green;
    width: 600px;
    height: 250px;
}
.white{
    background-color: white;
    width: 200px;
    height: 250px;
    position: relative;
    left: 200px;
}


.green-box{
    background-color: green;
    width: 500px;
    height: 300px;
}
.pink-circle{
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 50%;
    position: relative;
    top: 150px;
    left: 250px;
}
.pink-circle p{
    
   position: relative;
   top: 100px;
   left: 90px;
   font-weight: bolder;
   

}








.red-circle{
    
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 250px;
    position: absolute;
    top: 150px;
    
}
.blue-box{
    height: 300px;
    width: 500px;
    background-color: blue;
    position: relative;
    top: 200px;
    left: 200px;
}
