/* Write your code here: */
/*Group selectors*/
h1,h2 {
    color: blueviolet;
}
/*child selector*/
.box>.done{
    color: firebrick;
}
/*descendent selector*/
.box .list{
    color: blue;
}
/*chaining*/
li.done{
    color: seagreen;
}
/*Combining selectors*/
ul p.done{
    font-size: 0.5rem;
}