.text-body-emphasis {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style:normal;
    font-size: 48px;
  }
  .bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.d-block{
    border-radius: 70%;
}

.top-container{
    position: relative;
    padding-top: 100px;
}