<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeekDay Magic</title>
</head>
<body>
   <h1><hi>Hey, it's <%= dayType %>, <%= advice %></hi></h1> 
</body>
</html>