
<form action="submit" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br><br>
    <input type="submit" value="Submit">
  </form> 

 

  <%  if (locals.user) { %> 
    <h1>Thanks <%= user %> for visiting my website. I will complete your request as quickly as possible.</h1>
  
  <%  } else { %>
  <h1>Complete the form above</h1>
  <%  } %>
      