<div class="card text-bg-dark">
  <img src="images/oke.jpg" class="card-img" alt="Oke image" height="500">
  <div class="card-img-overlay">
    <h5 class="card-title">Oke Akoro</h5>
    <p class="card-text">I am a data ninja with proven experience in data architecture, design,<br> SQL development and data engineering. I have great passion for web development.  .</p>
    </div>
</div>