<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Letters</title>
</head>
<body>

    <!-- <h1>Write your name below </h1> -->
   <%   if (locals.numberOfLetters) { %> 
     <h1>
        There are 
        <%= numberOfLetters %> letters in your name

     </h1>
   <%  } else { %> 
        <h1>Write your name below </h1>
    <%  } %>
     
    <form action="/submit" method="post">
        <input type="text" name="fname" placeholder="First name">
        <input type="text" name="lname" placeholder="last name">
        <input type="submit" value="OK">
    </form>
    
</body>
</html>