<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag Quiz</title>
    <link href="./styles/main.css" rel="stylesheet" />
</head>
<body id="app">
    <form class="container" action="/submit" method="post">
        <div class="horizontal-container">
            <h3>
                Total Score:
                <span id="score">

                </span>
            </h3>
        </div>

        <h1 id="countryFlag">

        </h1>

        <div class="answer-container">
            <input type="text" name="answer" id="userInput" placeholder="Name the country" autofocus autocomplete="off" />
        </div>
        <button type="submit">SUBMIT
            <span></span>

            <span></span>

        </button>

    </form>

    <script>

        
    </script>

    
</body>
</html>