 
h1 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
 
 img {
            height: 100%;
            border-radius: 40%;
        }
.top-container{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     
 
}

.skill-container{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 
}